[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "==4.3.5"
scikit-learn = "==1.6.1"
pandas = "==2.2.3"

[dev-packages]

[requires]
python_version = "3.11.11"
